<div ng-controller="childReport">
    <div class="container">
        <div class="row">
            <div class="content">
                <div style="min-height:300px; max-height:300px;   min-height: 300px;   max-height: 300px;   position: relative;   z-index: 10;">
                    <div class="col-lg-5 col-sm-5">
                        <img src="app/assets/images/childreport.png" class="img-responsive" width="90%">
                    </div>
                    <div class="col-lg-7">
                        <h2>DETAILED CHILD DEVELOPMENT <br>
ANALYSIS
</h2>
                        <p>This a dummy text</p>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bcg2">
        <div class="container">
            <div class="row">
                <div class="col-md-5">
                    <h3 style="margin-top:95px; margin-left:20px; margin-bottom:35px;">ANALYSIS REPORT</h3></div>
            </div>
        </div>
        <div class="container bcg1">
            <div class="row pdngmrgn">
                <div class="col-md-12">
                    d scrambled it to make a </div>
            </div>
        </div>
    </div>
</div>
