<div ng-controller="candrForm">

<div class="consent-release">
    <div class="container">
        <div class="row content">
            <div class="col-md-12">
                <h2> CONSENT AND RELEASE FORM</h2>
                <p>POST INFO START</p>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
                <p><strong>Summary:</strong></p>
                <ol>
                    <li>Your child’s data will be kept con </li>
                    <li>Your child’s data will be kept con </li>
                    <li>Your child’s data will be kept con </li>
                </ol>
                <p><strong>Detailed Consent and Release Form:</strong></p>
                <ol>
                    <li>Your child’s data will be kept con </li>
                    <li>Your child’s data will be kept con </li>
                    <li>Your child’s data will be kept con </li>
                </ol>
                <p><strong>Licence</strong></p>
                <ol>
                    <ol>
                        <li>sdhfksdhfjkl sdfkjsdh sadhfsdjk hsdh fjksdh</li>
                        <li>sdhfksdhfjkl sdfkjsdh sadhfsdjk hsdh fjksdh</li>
                        <li>sdhfksdhfjkl sdfkjsdh sadhfsdjk hsdh fjksdh</li>
                    </ol>
                </ol>
                </ol>
            </div>
        </div>
    </div>
</div>
</div>
