<div ng-controller="expertHelp">
    <div class="expert-help">
        <div class="container">
            <div class="row">
                <div class="col-lg-6  pull-right">
                    <div class="expert-help2">
                        <h1>Request To Connect With An<br>
Expert  </h1>
                        <p>We are building a network of certied childcare and child growth related experts from various backgrounds.</p>
                        <p>To let us know which expert you would like to talk to, please Fill the form Below -</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.container -->
    </div>
    <div class="expertbcg">
        <div class="container ">
            <div class="experbcg2">
                <div class="row">
                    <div class="col-md-12 expert">
                        <h2>Connect with an expert </h2>
                        <p class="red">* Required</p>
                        <div class="col-md-12" style="margin-top:25px;">
                            <p><strong>Your Name</strong> <span class="red">*</span></p>
                            <div>
                                <input type="text" value="" class="col-md-3 expert-input">
                            </div>
                        </div>
                        <div class="col-md-12">
                            <p><strong>Phone Number</strong> <span class="red">*</span></p>
                            <div>
                                <input type="text" value="" class="col-md-3 expert-input">
                            </div>
                        </div>
                        <div class="col-md-12">
                            <p><strong>Email Id</strong> <span class="red">*</span></p>
                            <div>
                                <input type="text" value="" class="col-md-3 expert-input">
                            </div>
                        </div>
                        <div class="col-md-12">
                            <p><strong>Which expert would you like to get in touch with?</strong> <span class="red">*</span></p>
                            <div>
                                <input type="text" value="" class="col-md-3 expert-input">
                            </div>
                        </div>
                        <div class="col-md-12">
                            <p><strong>Would you like someone from our team to call you and schedule a meeting with the expert?</strong> <span class="red">*</span></p>
                            <div>
                                <input type="radio" value="">
                                <label>&nbsp;Yes</label>
                            </div>
                            <div>
                                <input type="radio" value="">
                                <label>&nbsp;No</label>
                            </div>
                        </div>
                        <div class="col-md-12" style="margin-top:15px;">
                            <div>
                                <input type="submit" value="Submit" class="btn btn-danger">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
