<div ng-controller="feedBack">
    <div class="container">
        <div class="row">
            <div class="content">
                <div style="min-height:300px; max-height:300px;   min-height: 300px;   max-height: 300px;   position: relative;   z-index: 10;">
                    <div class="col-lg-5 col-sm-5">
                        <img src="app/assets/images/feedback.png" class="img-responsive" width="90%">
                    </div>
                    <div class="col-lg-7">
                        <h2>CHILD REPORT: SANKALP (LITTLE KIDZ)
</h2>
                        <p>This a dummy text</p>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bcg2">
        <div class="container">
            <div class="row">
                <div class="col-md-12 feedback">
                    <p>We hope you found this report helpful. Please let us know what you </p>
                    <p>think, by answering the 3 questions below:</p>
                </div>
            </div>
        </div>
        <div class="expertbcg">
            <div class="container ">
                <div class="experbcg2">
                    <div class="row">
                        <div class="col-md-12 expert">
                            <h2>Your Feedback </h2>
                            <p class="red">* Required</p>
                            <div class="col-md-12" style="margin-top:25px;">
                                <p><strong>Did you find the report useful?</strong> <span class="red">*</span></p>
                                <div>
                                    <p><strong>1&nbsp;&nbsp; 2 &nbsp;&nbsp; 3&nbsp;&nbsp; 4&nbsp;&nbsp; 5</strong></p>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <p style="border-top:1px solid #ddd; padding:7px 0; border-bottom:1px solid #ddd; width:30%;">Not at all
                                    <input type="radio">
                                    <input type="radio">
                                    <input type="radio">
                                    <input type="radio">
                                    <input type="radio"> Very Usefull
                                </p>
                            </div>
                            <div class="col-md-12">
                                <p><strong>Would you like to refer this quiz to any of your friends? If yes, please share  their name and contact details below:</strong> </p>
                                <div>
                                    <textarea alue="" class="col-md-7 expert-input" style="height:200px;"></textarea>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <p><strong>Plase share any feeedback, or testimonials you have for us. We are listening, and really value your </strong> </p>
                                <div>
                                    <input type="text" value="" class="col-md-3 expert-input">
                                </div>
                            </div>
                            <div class="col-md-12" style="margin-top:15px;">
                                <div>
                                    <input type="submit" value="Submit" class="btn btn-danger">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
