<!-- Header -->
<div ng-controller="landingPage">
    <a name="about"></a>
    <div class="intro-header">
        <div class="container">
            <div class="row" style="text-align:center;">
                <div class="col-lg-12 text-center">
                    <div class="intro-message">
                        <h1>Technology + Insights  <strong>= SimpliﬁedParenting</strong></h1>
                        <h3>welcome to the simplify parenting project</h3>
                        <ul class="list-inline intro-social-buttons">
                            <li class="scroldownbtn">
                                <a href="#">Scroll Down</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.container -->
    </div>
    <!-- /.intro-header -->
    <!-- Page Content -->
    <a name="services"></a>
    <div class="content-section-a">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center col-sm-12">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">About Us</h2>
                    <p class="lead">Parentof is a ‘child growth and development’ analytics company. Conceptualized in early 2014, Parentof was founded with a vision to ‘Simplify Parenting’ for young Indian parents by understanding and solving their unique problems arising from today’s day and age. </p>
                    <p class="lead">The company was formed when a diverse group of people with a collective experience of several decades, came together to study the patterns and challenges of parenting in the Indian society. The goal was simple – To leverage technology in ways that help parents to know their child better and experience better parenting.</p>
                </div>
            </div>
        </div>
        <!-- /.container -->
    </div>
</div>
