<div style="margin: auto; width: 70%;" ng-controller="questionsCtrl">
    <div ng-show="!token" >
    <div  ng-repeat="question in questions track by $index">
        <div>{{$index + 1}}. {{question.question}}</div>
        <div>
            <ul class="ul-question">
                <li ng-repeat="option in question.options">
                    <div class="checkbox">
                        <label>
                            <input type="radio" ng-model="question.answer" ng-value="option">
                             {{option}}
                        </label>
                    </div>
                </li>
            </ul>
        </div>

    </div>
    <button class="btn btn-info" ng-show="!token" ng-click="submit()">Submit</button>
    </div>
    <div ng-show="(answered.length > 0) && !token"><h2>Thank you for  completing the test, you will receive an email once the report is ready.</h2>
    </div>
    <div ng-if="token && !rating"  style="right:0; width:150px; position: fixed; border:2px solid #dedede; padding:3px;  top: 50%;" star-rating rating="starRating" read-only="false" max-rating="5" click="click1(param)" mouse-hover="mouseHover1(param)" mouse-leave="mouseLeave1(param)"></div>
<div ng-if="token" class="btn btn-warning" style="right:0; width:150px; position: fixed; border:1px #eeffee;  top: 60%;">Refer</div>
<div ng-if="token" class="btn btn-info" style="right:0; width:150px; position: fixed; border:1px #eeffee;  top: 75%;">consult</div>
    <div  ng-if="token" class="piktowrapper-embed" pikto-uid="{{token}}" style="height: 300px; position: relative;"><div class="embed-loading-overlay" style="width: 100%; height: 100%; position: absolute; text-align: center;"><img width="60px" alt="Loading..." style="margin-top: 100px" src="https://magic.piktochart.com/loading.gif"/><p style="margin: 0; padding: 0; font-family: Lato, Helvetica, Arial, sans-serif; font-weight: 600; font-size: 16px">Loading...</p></div><div class="pikto-canvas-wrap"><div class="pikto-canvas"></div></div></div><script>(function(d){var js, id="pikto-embed-js", ref=d.getElementsByTagName("script")[0];if (d.getElementById(id)) { return;}js=d.createElement("script"); js.id=id; js.async=true;js.src="https://magic.piktochart.com/assets/embedding/embed.js";ref.parentNode.insertBefore(js, ref);}(document));</script>
</div>