.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db
bower_components
node_modules/
.sass-cache/
npm-debug.log
*.log
server/content/notes/*
client/.brackets.json
.idea/*
temp
dist
clients/web/temp
clients/web/dist/*